@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: #000;
  box-sizing: border-box;
}

.swiper-button-prev, .swiper-button-next , .swiper-button-prev:after,.swiper-button-next:after{
  opacity: 0;
}

.anim-error {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
